  
      <section id="join">

             <a href="#" class="joinClose" name="joinoff">창닫기</a>

             <img src="img/logo.png" alt="로고" alt="" />
             <p class="jointitleTX"> 상세정보입력 </p>  <span class="title-sub"> 다양한 혜택이 있습니다.  </span>

             
        
             
           <!-- info --> 
           <div class="info"> 

              <div class="infowrap"> 
 
                <p class="infotitle"><img src="img/join_arrow.png" alt=""/> 이름 </p> 
                <p class="infocon"><input type="text"> </p> 

              </div>
              <!-- //infowrap --> 


             <div class="addressWrap"> 
 
                    <div class="addressTitle"><img src="img/join_arrow.png" alt=""/> 주소 </div> 
                    <div class="addreeCon"><input type="text">-<input type="text"><button>주소찾기</button>
                    <br> <input type="text" class="address01"> <br> <input type="text" class="address02">
                    </div>                  
 


              </div>
              <!-- //infowrap --> 


              <div class="infowrap"> 
 
                <p class="infotitle"><img src="img/join_arrow.png" alt=""/> 본인인증 </p> 
                <p class="infocon"><button>핸드폰</button><button>I-PIN</button> </p> 

              </div>
              <!-- //infowrap --> 


               <div class="infowrap"> 
 
                <p class="infotitle"><img src="img/join_arrow.png" alt=""/> 직업 </p> 
                <p class="infocon"> 

                      <select name="job">
                        <option value="">직업선택</option>
                        <option value="디자이너">디자이너</option>
                        <option value="프로그래머">프로그래머</option>
                      </select> </p> 

               </div>
               <!-- //infowrap -->


             <div class="infowrap"> 
 
                <p class="infotitle"><img src="img/join_arrow.png" alt=""/> 결혼여부 </p> 
                <p class="infocon"><button>미혼</button><button>기혼</button> </p> 

              </div>
              <!-- //infowrap --> 




           </div> 
           <!-- //info --> 
         
            
   <nav>  
    <button class="cancle padding-fix" onclick="menuClick('view/main/join/join_step04.html');">취소</button>    
    <button class="next padding-fix" onclick="menuClick('view/main/join/join_step04.html');">확인</button> 
   </nav> 


         </section> 

