<br><br><br><br><br>

<div id="wrap"> 
  <div id="contentWrap"> 
       <!-- <a href="#" class="close" id="contentClose">닫기</a> --> 
          <div class="title">
              <p class="category">Food / Travel </p> 
              <h1>야식계를 평정하는 치킨브랜드 </h1> 
              <p class="date">2016.03.28</p> 
          </div> 
          <!-- //title --> 

          <div id="topimage"><img src="img/K-006.png" alt=""/></div> 
          <!-- //topimage --> 

          <div class="information"> 
            <p class="editor"> editor </p> 
            <ul>
             <li> <span class="editor_name">박보검</span></li> 
             <li class="bookname_m"> <a class="bookname">생활을 바꾸는 팁</a> </li> 
             <li> <a href="#" class="subscript">구독하기</a></li> 
            </ul>   


            <div class="count_area"><span class="viewcount">170,230 view</span>
            <ul> 
             <li><img src="img/con_reply_icon.png"  alt="" />99999</li> 
             <li><img src="img/con_like_icon.png"  alt="" />99999</li>
             <li><img src="img/con_share_icon.png"  alt="" />99999</li>  
            </ul> 
            </div> 
            <!-- //count_area --> 
   
          </div> 
          <!-- //information --> 
          <div class="profile"><img src="img/K-002.jpg" alt="" /></div>

           
 
       
          <div class="content">
            
               
               <div class="sns">

               	 <ul> 
               	 <li><a href="#" class="sns_facebook">페이스북</a></li>  
               	 <li><a href="#" class="sns_twiteer">트위터</a></li>  
				 <li><a href="#" class="sns_insta">인스타그램</a></li>  
               	 <li><a href="#" class="sns_mail">메일</a></li>  
                 <li><a href="#" class="sns_like">좋아요</a></li>  
                </ul> 
            
               </div> 
               	  
                
                 

                  <div class="inputstyle">
  
                     <div class="pic"><img src="img/con_test01.jpg" alt="" /></div>
                     <div class="txt">#1. 두께부터 남다른 치즈 폭탄 시카고 피자
  	               정음언니 띠드 버거 패대기칠 띠드 피자지만, 1인 1판을 하기 어렵다는 게 함정... ★  </div> 
                  
                  </div> 


                    <div class="inputstyle">
  
                     <div class="pic">
                       <figure>
                          <img src="http://hongkiat.github.io/gif-onclick/img/mobile-wireframe.png" alt="Static Image" data-alt="img/testgif.gif">
                       </figure>


                     </div>
                     <div class="txt">#2. 두께부터 남다른 치즈 폭탄 시카고 피자
  	               정음언니 띠드 버거 패대기칠 띠드 피자지만, 1인 1판을 하기 어렵다는 게 함정... ★  </div> 
                  
                  </div> 


                    <div class="inputstyle">
  
                     <div class="pic"><img src="img/con_test02.png" alt="" /></div>
                     <div class="txt">#1. 두께부터 남다른 치즈 폭탄 시카고 피자
  	               정음언니 띠드 버거 패대기칠 띠드 피자지만, 1인 1판을 하기 어렵다는 게 함정... ★  </div> 
                  
                  </div> 


                    <div class="inputstyle">
  
                     <div class="pic"><img src="img/con_test01.jpg" alt="" /></div>
                     <div class="txt">#1. 두께부터 남다른 치즈 폭탄 시카고 피자
  	               정음언니 띠드 버거 패대기칠 띠드 피자지만, 1인 1판을 하기 어렵다는 게 함정... ★  </div> 
                  
                  </div> 

      
          <!-- 댓글시작 --> 
        
            <div class="replywrap"> 
              
               <img src="img/reply_icon.png" alt=""/> <span class="replytitle"> 댓글쓰기</span> <span class="replytx">타인을 배려하는 마음을 담아 댓글을 달아주세요. </span> 



                  <div class="writewrap"> 

                  	   <div class="writer">
                  	      <div class="reprofile"><img src="img/pro_test.jpg" alt="" /></div>
                  	   </div> 


                  	   <div class="contents">
                  	        <textarea>ssd</textarea><button class="resubmit"></button> 
                  	        <div class="chcount"> <span class="chcounttx">0</span> / 200 </div> 
                  	   </div> 
 
                  </div> 


                  <!-- replylist --> 
                  <div class="replylist"> 
                         
                       <div class="writerarea"><div class="reprofile"><img src="img/pro_test.jpg" alt="" /></div></div> 
                       <div class="rightcon">
                         
                         <div class="likearea"> 
                         	 <div class="report"><a href="">신고하기</a></div>
                         	 <div class="like"><a href=""><img src="img/reply_like.png" alt="" /><span class="likecount">0</span></a></div>
                         	 
                         
                         </div> 


                       	 <img src="img/reply_best_icon.png" alt=""/> <span class="nickname">안녕하새오새애오</span><span class="replydate">2016.03.24 23:30 </span> 

                       	  <div class="contents">
                       	  	 강준이 나홀로 연애중 보고 입덕 하늘재 살인사건 도 진심 꼭봐야되요ㅠㅠㅠ 내용내용내용내용내용내용 
                       	  	 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                       	  	 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                       	  </div> 
                       	  <!-- //contents -->

                        </div> 
                        <!-- //rightcon --> 
                                       

                  </div>
                  <!-- //replylist --> 

                 <!-- replylist --> 
                  <div class="replylist"> 
                         
                       <div class="writerarea"><div class="reprofile"><img src="img/pro_test.jpg" alt="" /></div></div> 
                       <div class="rightcon">
                         
                         <div class="likearea"> 
                         	 <div class="report"><a href="">신고하기</a></div>
                         	 <div class="like"><a href=""><img src="img/reply_like.png" alt="" /><span class="likecount">0</span></a></div>
                         	 
                         
                         </div> 


                       	 <img src="img/reply_best_icon.png" alt=""/> <span class="nickname">안녕하새오새애오</span><span class="replydate">2016.03.24 23:30 </span> 

                       	  <div class="contents">
                     	  	  
                       	  	 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                       	  </div> 
                       	  <!-- //contents -->

                        </div> 
                        <!-- //rightcon --> 
                                       

                  </div>
                  <!-- //replylist --> 

                                   <!-- replylist --> 
                  <div class="replylist"> 
                         
                       <div class="writerarea"><div class="reprofile"><img src="img/pro_test.jpg" alt="" /></div></div> 
                       <div class="rightcon">
                         
                         <div class="likearea"> 
                         	 <div class="report"><a href="">신고하기</a></div>
                         	 <div class="like"><a href=""><img src="img/reply_like.png" alt="" /><span class="likecount">0</span></a></div>
                         	 
                         
                         </div> 


                       	 <img src="img/reply_best_icon.png" alt=""/> <span class="nickname">안녕하새오새애오</span><span class="replydate">2016.03.24 23:30 </span> 

                       	  <div class="contents">
                       	  	 류배유님 ㅠㅠ	
                       	  </div> 
                       	  <!-- //contents -->

                        </div> 
                        <!-- //rightcon --> 
                                       

                  </div>
                  <!-- //replylist --> 




                   



             

            </div>
            <!-- //replywrap--> 
               
            

          <!-- //댓글 끝--> 



          </div> 
          <!-- //content -->        
                
      
 

  </div> 
  <!-- //contentWrap --> 





</div> 