<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript">
	//list2, list3 모두 초기화 함수.
function init_all() {
	// make-list(list2, list3 포함 클래스) 초기화
	$(".make-list > a").hide();
	$(".make-list > p,br").show();
}

$(".group1 > a").click(function(event){
	// 리스트1이 선택될 경우 리스트2와 리스트3을 먼저 초기화.
	
	$("#table2").hide();
	init_all();
	// 해당 target의 id를 리스트이름으로 받아와서 리스트 2를 보여줌.
	$("#list" + event.target.id + " > a").show();
	// list2의 문구는 숨김.
	$(".group2 > p,br").hide();
});

$(".group2 > a").click(function(event){
	$("#table3").hide();
	$(".group3 > a").hide();
	$(".group3 > p,br").show(); 
	
	// list1 선택될때와 동일.
	$("#list3-" + event.target.id + " > a").show();
	$(".group3 > p,br").hide(); 
});
</script>	
</head>
<body>
<div class="container-fluid col-md-offset-1">
				<div class="col-md-1" style="margin-left: 80px;">
					<div class="panel-heading paneltitle"
						style="background-color: black; color: white; padding-left: 50px">
						<h3 class="panel-title">제조국</h3>
					</div>

					<div class="list1 panel">
						<div class="list-group group1" id="list1">
							<a href="#" class="list-group-item" style="padding-left: 50px;"
								id="2-1" name="korea"
								onClick="listValueSeparate(this, 'manuCountry')">국산차</a> <a
								href="#" class="list-group-item" style="padding-left: 50px;"
								id="2-2" name="foreign"
								onClick="listValueSeparate(this, 'manuCountry')">수입차</a> <a
								href="#" class="list-group-item" style="padding-left: 50px;"
								id='2-3' name="etc"
								onClick="listValueSeparate(this, 'manuCountry')">기타</a> <input
								type="hidden" id="manuCountry" name="manuCountry" value="">
						</div>
					</div>
				</div>
				<div class="col-md-2" style="margin-left: 50px">
					<div class="panel-heading paneltitle"
						style="background-color: black; color: white; padding-left: 100px">
						<h3 class="panel-title">제조사</h3>
					</div>
					<div class="list2 panel">
						<!-- 시작 -->
						<div class="make-list" id="table2">
							<br> <br> <b>
								<p style="padding-left: 70px">제조국을 클릭하면</p>
								<p style="padding-left: 70px">리스트가 열립니다.</p>
							</b><br> <br> <br>
						</div>
						<!-- 국내차 -->
						<div class="list-group make-list group2" id="list2-1">
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="hyundai" onClick="listValueSeparate(this, 'manuCo')"><b>현대</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="kia" onClick="listValueSeparate(this, 'manuCo')"><b>기아</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="chevolet" onClick="listValueSeparate(this, 'manuCo')"><b>쉐보레</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="renault" onClick="listValueSeparate(this, 'manuCo')"><b>르노삼성</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="ssangyoung" onClick="listValueSeparate(this, 'manuCo')"><b>쌍용</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="etc" onClick="listValueSeparate(this, 'manuCo')"><b>기타제조사</b></a>
						</div>
						<!-- 수입차 -->
						<div class="list-group make-list group2" id="list2-2">
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="bmw" onClick="listValueSeparate(this, 'manuCo')"><b>BMW</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="audi" onClick="listValueSeparate(this, 'manuCo')"><b>아우디</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="volkswagen" onClick="listValueSeparate(this, 'manuCo')"><b>폭스바겐</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="mini" onClick="listValueSeparate(this, 'manuCo')"><b>미니</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="gmc" onClick="listValueSeparate(this, 'manuCo')"><b>GMC</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="nissan" onClick="listValueSeparate(this, 'manuCo')"><b>닛산</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="daigatsu" onClick="listValueSeparate(this, 'manuCo')"><b>다이하쯔</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="dodge" onClick="listValueSeparate(this, 'manuCo')"><b>닷지</b></a>
						</div>
						<!-- ETC -->
						<div class="list-group make-list group2" id="list2-3">
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="etc1" onClick="listValueSeparate(this, 'manuCo')"><b>ETC1</b></a>
							<a href="#" class="list-group-item" style="padding-left: 100px;"
								id="etc2" onClick="listValueSeparate(this, 'manuCo')"><b>ETC2</b></a>
						</div>
						<input type="hidden" id="manuCo" name="manuCo" />
					</div>
				</div>
				<!-- 3번째 리스트 -->
				<div class="col-md-2" style="margin-left: 50px">
					<div class="panel-heading paneltitle"
						style="background-color: black; color: white; padding-left: 180px">
						<h3 class="panel-title">모델</h3>
					</div>
					<div class="list3 panel">
						<div class="make-list" id="table3">
							<br> <br> <b>
								<p style="padding-left: 140px">제조사를 클릭하면</p>
								<p style="padding-left: 140px">리스트가 열립니다.</p>
							</b><br> <br> <br>
						</div>
						<!--  list2 에서 hyundai 클릭시  -->
						<div class="list-group make-list group3" id="list3-hyundai">
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sonata" onClick="listValueSeparate(this, 'model')">쏘나타</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="grandeur" onClick="listValueSeparate(this, 'model')">그랜저</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="avante" onClick="listValueSeparate(this, 'model')">아반떼</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="starex" onClick="listValueSeparate(this, 'model')">스타렉스</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="santafe" onClick="listValueSeparate(this, 'model')">싼타페</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="genesis" onClick="listValueSeparate(this, 'model')">제네시스</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="eqqus" onClick="listValueSeparate(this, 'model')">에쿠스</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="tucson" onClick="listValueSeparate(this, 'model')">투싼</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="trajetXG" onClick="listValueSeparate(this, 'model')">트라제
								XG</a> <a href="#" class="list-group-item"
								style="padding-left: 170px;" id="veracruz"
								onClick="listValueSeparate(this, 'model')">베라크루즈</a> <a href="#"
								class="list-group-item" style="padding-left: 170px;" id="accent"
								onClick="listValueSeparate(this, 'model')">엑센트</a> <a href="#"
								class="list-group-item" style="padding-left: 170px;"
								id="tuscans" onClick="listValueSeparate(this, 'model')">투스카니</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="terracan" onClick="listValueSeparate(this, 'model')">테라칸</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="galloper" onClick="listValueSeparate(this, 'model')">갤로퍼</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="verna" onClick="listValueSeparate(this, 'model')">베르나</a>
						</div>
						<!--  list2 에서 kia 클릭시  -->
						<div class="list-group make-list group3" id="list3-kia">
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="carnival" onClick="listValueSeparate(this, 'model')">카니발</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="morning" onClick="listValueSeparate(this, 'model')">모닝</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="sportage" onClick="listValueSeparate(this, 'model')">스포티지</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="k5" onClick="listValueSeparate(this, 'model')">K5</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="sorrento" onClick="listValueSeparate(this, 'model')">쏘렌토</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="pride" onClick="listValueSeparate(this, 'model')">프라이드</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="k7" onClick="listValueSeparate(this, 'model')">K7</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="opirus" onClick="listValueSeparate(this, 'model')">오피러스</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="carens" onClick="listValueSeparate(this, 'model')">카렌스</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="porte" onClick="listValueSeparate(this, 'model')">포르테</a>
						</div>
						<!--  list2 에서 chevolet 클릭시  -->
						<div class="list-group make-list group3" id="list3-chevolet">
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbr" onClick="listValueSeparate(this, 'model')">쉐보레</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbr1" onClick="listValueSeparate(this, 'model')">쉐보레모</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbrsportage" onClick="listValueSeparate(this, 'model')">쉐보레스포티지</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbr5" onClick="listValueSeparate(this, 'model')">쉐보레5</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbrrrento" onClick="listValueSeparate(this, 'model')">쉐보레렌토</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbrpride" onClick="listValueSeparate(this, 'model')">쉐보레프라이드</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbr7" onClick="listValueSeparate(this, 'model')">쉐보레7</a> <a
								href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbrrus" onClick="listValueSeparate(this, 'model')">쉐보레러스</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbrcarens" onClick="listValueSeparate(this, 'model')">쉐보레렌스</a>
							<a href="#" class="list-group-item" style="padding-left: 170px;"
								id="sbrporte" onClick="listValueSeparate(this, 'model')">쉐르테</a>
						</div>
						<!--  list2 에서 renault 클릭시  -->
						<div class="list-group make-list group3" id="list3-renault">
							<a href="#" class="list-group-item" id="renacarnival"
								onClick="listValueSeparate(this, 'model')">르노발</a> <a href="#"
								class="list-group-item" id="renamorning"
								onClick="listValueSeparate(this, 'model')">르노의모닝</a> <a href="#"
								class="list-group-item" id="renasportage"
								onClick="listValueSeparate(this, 'model')">르노포티지</a> <a href="#"
								class="list-group-item" id="reank5"
								onClick="listValueSeparate(this, 'model')">르노5</a> <a href="#"
								class="list-group-item" id="renasorrento"
								onClick="listValueSeparate(this, 'model')">르노</a>
						</div>
						<!--  list2 에서 ssangyoung 클릭시  -->
						<div class="list-group make-list group3" id="list3-ssangyoung">
							<a href="#" class="list-group-item" id="mooso"
								onClick="listValueSeparate(this, 'model')">무소</a> <a href="#"
								class="list-group-item" id="mooso1"
								onClick="listValueSeparate(this, 'model')">무소1</a> <a href="#"
								class="list-group-item" id="mooso2"
								onClick="listValueSeparate(this, 'model')">무소2</a> <a href="#"
								class="list-group-item" id="mooso3"
								onClick="listValueSeparate(this, 'model')">무소3</a>
						</div>
						<!--  list2 에서 etc 클릭시  -->
						<div class="list-group make-list group3" id="list3-etc">
							<a href="#" class="list-group-item" id="brc"
								onClick="listValueSeparate(this, 'model')">보리차</a> <a href="#"
								class="list-group-item" id="ymc"
								onClick="listValueSeparate(this, 'model')">율무차</a> <a href="#"
								class="list-group-item" id="umc"
								onClick="listValueSeparate(this, 'model')">유모차</a>
						</div>
						<!-- 수입차 -->
						<!--  list2 에서 bmw 클릭시  -->
						<div class="list-group make-list group3" id="list3-bmw">
							<a href="#" class="list-group-item" id="carnival"
								onClick="listValueSeparate(this, 'model')">i567</a> <a href="#"
								class="list-group-item" id="morning"
								onClick="listValueSeparate(this, 'model')">i333</a> <a href="#"
								class="list-group-item" id="k5"
								onClick="listValueSeparate(this, 'model')">K5</a> <a href="#"
								class="list-group-item" id="sorrento"
								onClick="listValueSeparate(this, 'model')">쏘렌토</a> <a href="#"
								class="list-group-item" id="pride"
								onClick="listValueSeparate(this, 'model')">프라이드</a> <a href="#"
								class="list-group-item" id="k7"
								onClick="listValueSeparate(this, 'model')">K7</a> <a href="#"
								class="list-group-item" id="opirus"
								onClick="listValueSeparate(this, 'model')">오피러스</a> <a href="#"
								class="list-group-item" id="carens"
								onClick="listValueSeparate(this, 'model')">카렌스</a> <a href="#"
								class="list-group-item" id="porte"
								onClick="listValueSeparate(this, 'model')">포르테</a>
						</div>
						<!--  list2 에서 audi 클릭시  -->
						<div class="list-group make-list group3" id="list3-audi">
							<a href="#" class="list-group-item" id="a4"
								onClick="listValueSeparate(this, 'model')">A4</a> <a href="#"
								class="list-group-item" id="a6"
								onClick="listValueSeparate(this, 'model')">A6</a>
						</div>
						<!--  list2 에서 volkswagen 클릭시  -->
						<div class="list-group make-list group3" id="list3-volkswagen">
							<a href="#" class="list-group-item" id="foxbagan"
								onClick="listValueSeparate(this, 'model')">여우바겐</a> <a href="#"
								class="list-group-item" id="foxbar"
								onClick="listValueSeparate(this, 'model')">fox바</a> <a href="#"
								class="list-group-item" id="bargensale"
								onClick="listValueSeparate(this, 'model')">바겐세일</a>
						</div>
						<!--  list2 에서 mini 클릭시  -->
						<div class="list-group make-list group3" id="list3-mini">
							<a href="#" class="list-group-item" id="mini"
								onClick="listValueSeparate(this, 'model')">mini</a> <a href="#"
								class="list-group-item" id="junmini"
								onClick="listValueSeparate(this, 'model')">jungmini</a> <a
								href="#" class="list-group-item" id="hani"
								onClick="listValueSeparate(this, 'model')">hani</a>
						</div>
						<!--  list2 에서 gmc 클릭시  -->
						<div class="list-group make-list group3" id="list3-gmc">
							<a href="#" class="list-group-item" id="gmc1"
								onClick="listValueSeparate(this, 'model')">GMC1</a> <a href="#"
								class="list-group-item" id="gmc2"
								onClick="listValueSeparate(this, 'model')">GMC2</a> <a href="#"
								class="list-group-item" id="gmc3"
								onClick="listValueSeparate(this, 'model')">GMC3</a>
						</div>
						<!--  list2 에서 nissan 클릭시  -->
						<div class="list-group make-list group3" id="list3-nissan">
							<a href="#" class="list-group-item" id="nissan1"
								onClick="listValueSeparate(this, 'model')">닛산1</a> <a href="#"
								class="list-group-item" id="nissan4"
								onClick="listValueSeparate(this, 'model')">닛산4</a>
						</div>
						<!--  list2 에서 daigatsu클릭시  -->
						<div class="list-group make-list group3" id="list3-daigatsu">
							<a href="#" class="list-group-item" id="123"
								onClick="listValueSeparate(this, 'model')">123</a> <a href="#"
								class="list-group-item" id="daso"
								onClick="listValueSeparate(this, 'model')">다이소</a> <a href="#"
								class="list-group-item" id="daigatsu"
								onClick="listValueSeparate(this, 'model')">다이제</a>
						</div>
						<!--  list2 에서 dodge 클릭시  -->
						<div class="list-group make-list group3" id="list3-dodge">
							<a href="#" class="list-group-item" id="dadge57"
								onClick="listValueSeparate(this, 'model')">닷지57호</a> <a href="#"
								class="list-group-item" id="dadge58"
								onClick="listValueSeparate(this, 'model')">닷지58호</a> <a href="#"
								class="list-group-item" id="dadge59"
								onClick="listValueSeparate(this, 'model')">닷지59호</a>
						</div>
						<input type="hidden" id="model" name="model" />
					</div>
				</div>
			</div>
</body>
</html>

			<!-- category -->