<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
function submit(contentsId){
  //대분류는 기본 default를 패션/뷰티로 잡았으므로 중분류를 기준으로 값을 입력하지 않았으면 경고창을 띄운다.
    if(typeof $('select[name=sub_category] option:selected').val() == 'undefined'){
      alert('카테고리는 필수 입력사항입니다.');
    }else{
      var file = $('#image').prop("files")[0];
      var file_validation_check = $('#thumbnail_preview > img').attr('src');
      var title = $('#title').val();
      var category = $('#cat1 option:selected').val() +'_'+ $('select[name=sub_category] option:selected').val(); //대분류와 중분류 카테고리 합쳐서 서버로 보냄.
      console.log('카테고리 조합 : '+category);
      console.log(file);
      if(typeof file_validation_check == 'undefined' || title ==''){
        alert('제목과 썸네일 이미지는 필수 입력사항입니다.');
      }else{
        var fd = new FormData();
        fd.append('category', category);
        fd.append("thumbnail", file);
        fd.append("title", title);
        $.ajax({
          url: '/upload/update_builder_thumbnail?contentsId='+contentsId+'',
          data: fd,
          processData: false,
          contentType: false,
          type: 'POST',
          success: function(data){
          console.log(data);
          if(data == 'update_success'){
            location.href = "/upload/update_builder_contents?contentsId="+contentsId+"";
          }
      }
    });
      }
    }
  }  
</script>


<script type="text/javascript">
  $(document).ready(function(){
      var user_category = $('input[name=user_category]').attr('id').split('_');
      var first_classification = user_category[0]; //파트너가 이전에 저장해 두었던 대분류 카테고리
      var second_classification = user_category[1];
      
      console.log(first_classification +' - ' + second_classification);

      $('select[id*=sub_category_]').each(function(index) { //모든 서브카테고리 숨기기.
        var cat_id = $(this).attr('id');
        $('#'+cat_id).hide();
      });
      $("#cat1").val(first_classification); //파트너가 이전에 저장해 두었던 대분류 카테고리 선택해둠.
      $('#sub_category_'+first_classification+'').val(second_classification); //파트너가 이전에 저장해 두었던 중분류 카테고리 선택해둠.
      $('#sub_category_'+first_classification+'').show();

      $("#cat1").click(function(){ //대분류 카테고리 클릭시 -> 중분류 카테고리 바뀌는 function
        $('select[id*=sub_category_]').each(function(index) { //모든 중분류의 값들을 확인하기 위한 function
          var cat_id = $(this).attr('id');
          $('#'+cat_id).hide();
        });
        var category = $('#cat1').val();
        $('#sub_category_'+category).show();
      });
  });
</script>
<style type="text/css">
  #thumbnail_preview img{ 
  width: 300px;
  height: 300px; 
}
</style>
</head>
<body>
<div class="product_cate">
  <div class="cate_block" style="float:left">
    <div class="textC" style="width:173px;"><b>대분류</b></div>
        <select size="9" style="width:157px;" id="cat1">
          <option value="fashion" selected="true">패션/뷰티</option>
          <option value="food">음식/여행</option>
          <option value="hobby">취미/게임</option>
          <option value="life">생활/쇼핑</option>
          <option value="edu">정치/교육</option>
          <option value="digital">디지털/가전</option>
          <option value="car">자동차/교통</option>
          <option value="media">방송/연예</option>
          <option value="sports">스포츠/건강</option> 
        </select>
  </div>
  <div class="cate_block" style="float:left">
    <div class="textC" style="width:173px;"><b>중분류</b></div>
      <select size="9" style="width:157px;" id="sub_category_fashion" name="sub_category">
          <option value="bag">가방</option>
          <option value="nail">네일아트</option>
          <option value="diet">다이어트</option>
          <option value="makeup">메이크업</option>
          <option value="tattoo">문신/타투</option>
          <option value="bodyProducts">바디용품</option>
          <option value="bodyProducts">보습용품</option>
          <option value="top">상의</option>
          <option value="showerProducts">샤워용품</option>
          <option value="shoes">신발</option>
          <option value="outer">아우터</option>
          <option value="outdoor">아웃도어</option>
          <option value="petBeauty">애견미용</option>
          <option value="accessary">액세서리</option>
          <option value="underwear">언더웨어</option>
          <option value="codi">코디</option>
          <option value="training">트레이닝</option>
          <option value="bottom">하의</option>
          <option value="perfume">향수</option>
          <option value="hairProducts">헤어용품</option>
          <option value="cosmetics">화장품</option>
          <option value="fashionEtc">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_food" name="sub_category">
          <option value="foreignFood">각 나라별 음식</option>
          <option value="touristAttraction">관광명소</option>
          <option value="domesticTrip">국내여행</option>
          <option value="recipe">레시피</option>
          <option value="tasteAttraction">맛집</option>
          <option value="bakery">베이커리</option>
          <option value="slowfood">슬로우푸드</option>
          <option value="travelAgency">여행사</option>
          <option value="readyTrip">여행준비</option>
          <option value="dish">요리</option>
          <option value="seasonFood">제철음식</option>
          <option value="alcohols">주류</option>
          <option value="cameraAttraction">촬영명소</option>
          <option value="camping">캠핑</option>
          <option value="cruz">크루즈</option>
          <option value="tip">팁</option>
          <option value="fastfood">패스트푸드</option>
          <option value="convenienceStore">편의점</option>
          <option value="overseasTrip">해외여행</option>
          <option value="foodEtc">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_hobby" name="sub_category">
          <option value="pcGame">PC/패키지게임</option>
          <option value="rc">RC</option>
          <option value="book">도서</option>
          <option value="lego">레고</option>
          <option value="mobileGame">모바일게임</option>
          <option value="boardGame">보드게임</option>
          <option value="photo">사진</option>
          <option value="animation">애니</option>
          <option value="musical">연극/뮤지컬</option>
          <option value="movie">영화</option>
          <option value="online_game">온라인게임</option>
          <option value="yoga">요가</option>
          <option value="webtoon">웹툰</option>
          <option value="music">음악</option>
          <option value="internetBroadcastic">인터넷방송</option>
          <option value="dance">춤</option>
          <option value="consoleGame">콘솔게임</option>
          <option value="tip">팁</option>
          <option value="plaModel">프라모델</option>
          <option value="figure">피규어</option>
          <option value="hobbyEtc">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_life" name="sub_category">
          <option value="furniture">가구/인테리어</option>
          <option value="economic">경제</option>
          <option value="weather">날씨</option>
          <option value="digital">디지털/가전</option>
          <option value="pet">반려동물</option>
          <option value="property,">부동산</option>
          <option value="health">생활/건강</option>
          <option value="sports">스포츠/레저</option>
          <option value="foods">식품</option>
          <option value="ideaProducts">아이디어 상품</option>
          <option value="relationship">연애</option>
          <option value="clothes">의류</option>
          <option value="neighborhood">이웃</option>
          <option value="merchandise">잡화</option>
          <option value="birth">출산/육아</option>
          <option value="cafe">카페</option>
          <option value="buyForeign">해외직구</option>
          <option value="homeshopping">홈쇼핑</option>
          <option value="cosmetic">화장품/미용</option>
          <option value="lifeEtc">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_edu" name="sub_category">
          <option value="notification">고시</option>
          <option value="northKorea">남북관계</option>
          <option value="conservatism">보수</option>
          <option value="election">선거</option>
          <option value="test">수능</option>
          <option value="languageStudy">어학연수</option>
          <option value="history">역사</option>
          <option value="english">영어</option>
          <option value="foreignLanguage">외국어</option>
          <option value="certification">자격증</option>
          <option value="policy">정책</option>
          <option value="progress">진보</option>
          <option value="blueHouse">청와대</option>
          <option value="programming">프로그래밍</option>
          <option value="eduEtc">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_digital" name="sub_category">
          <option value="pcComponent">PC 주요부품</option>
          <option value="healthAppliances">건강/뷰티가전</option>
          <option value="seasonAppliances">계절가전</option>
          <option value="digitalAppliances">디지털 완제품</option>
          <option value="camera">디지털 카메라</option>
          <option value="multiMedia">멀티미디어/네트워크</option>
          <option value="lifeAppliances">생활가전</option>
          <option value="software">소모품/소프트웨어</option>
          <option value="smartphone">스마트폰</option>
          <option value="mp3">이어폰/MP3</option>
          <option value="livingAppliances">주방가전</option>
          <option value="livingThings">주방용품</option>
          <option value="etcAppliances">주변기기</option>
          <option value="camcoder">캠코더</option>
          <option value="tablet">태블릿</option>
          <option value="projector">프로젝터</option>
          <option value="digitalEtc">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_car" name="sub_category">
          <option value="bag">국산차</option>
          <option value="nail">대중교통</option>
          <option value="diet">드라이브</option>
          <option value="makeup">선박</option>
          <option value="2">수입차</option>
          <option value="2">오토바이</option>
          <option value="2">자동차용품</option>
          <option value="2">자전거</option>
          <option value="2">중고차</option>
          <option value="2">튜닝</option>
          <option value="2">항공</option>
          <option value="2">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_media" name="sub_category">
          <option value="bag">가수</option>
          <option value="nail">드라마</option>
          <option value="diet">배우</option>
          <option value="makeup">시사/다큐</option>
          <option value="2">연예</option>
          <option value="2">예능</option>
          <option value="2">코미디언</option>
          <option value="2">화제의인물</option>
          <option value="2">기타</option>
      </select>
      <select size="9" style="width:157px;" id="sub_category_sports" name="sub_category">
          <option value="bag">E-스포츠</option>
          <option value="nail">건강식품</option>
          <option value="diet">골프</option>
          <option value="makeup">국내야구</option>
          <option value="2">국내축구</option>
          <option value="2">농구/배구</option>
          <option value="2">일반</option>
          <option value="2">해외야구</option>
          <option value="2">해외축구</option>
          <option value="2">헬스케어</option>
          <option value="2">기타</option>
      </select>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<label>제목 : </label><input type="text" id="title" style="width:300px; height:50px; font-size:large" value="<%= data.TITLE %>">
<br><br>
<p>썸네일 이미지 [ 크기 300*300 ]</p>
<input type="file" id="thumbnail" name="thumbnail">
<div id="thumbnail_preview">
    <img src="/<%= data.THUMBNAIL_IMAGE_PATH %>"  class="img-responsive" onclick="document.all.image.click();">
    <input type="file" file-model="myFile" id="image" style="display:none" />
    <button onclick="submit(<%= data.CONTENTS_ID%>)">다음</button>
</div>
<input id="<%= data.CATEGORY %>" style="display:none" name="user_category">
<script>
$(document).ready(function(){
  var i = 0;
  $('#image').on('change', function() { // 빌더가 하나씩 생성될때마다 name값을 +1씩 해줌.
      var file = $('#image').prop("files")[0];
      blobURL = window.URL.createObjectURL(file);
      $('#thumbnail_preview img').attr('src', blobURL);
      $('#thumbnail_preview').slideDown(); //업로드한 이미지 미리보기 
  });
});
</script>
</body>
</html>